{% extends "../base.html" %}

{% block css_link %}
<link href="/assets/css/main.css" rel="stylesheet" type="text/css">
<title>방명록</title>
{% endblock %}

{% block content %}
<div id="guestbook" class="delete-form">
		<form method="post" action="/guestbook/delete">{% csrf_token %}
	<input type='hidden' name="id" value="{{id}}">
	<table>
		<tr>
			<td>비밀번호</td>
			<td><input type="password" name="password"></td>
			<td><input type="submit" value="확인"></td>
			<td><a href="/guestbook">메인으로 돌아가기</a></td>
		</tr>
	</table>
	</form>
				<a href="/guestbook">방명록 리스트</a>
			</div>

{% endblock %}
